env: prod
http:
  host: 0.0.0.0
  #  host: 127.0.0.1
  port: 8000
security:
  api_sign:
    app_key: 123456
    app_security: 123456
  jwt:
    key: QQYnRFerJTSEcrfB89fw8prOaObmrch8
data:
  db:
    user:
      driver: sqlite
      dsn: storage/nunu-test.db?_busy_timeout=5000
  #    user:
  #      driver: mysql
  #      dsn: root:123456@tcp(127.0.0.1:3380)/user?charset=utf8mb4&parseTime=True&loc=Local
  #    user:
  #      driver: postgres
  #      dsn: host=localhost user=gorm password=gorm dbname=gorm port=9920 sslmode=disable TimeZone=Asia/Shanghai
  redis:
    addr: 127.0.0.1:6350
    password: ""
    db: 0
    read_timeout: 0.2s
    write_timeout: 0.2s
  mongo:
    uri: mongodb://root:123456@localhost:27017
log:
  log_level: info
  mode: file               #  file or console or both
  encoding: json           # json or console
  log_file_name: "./storage/logs/server.log"
  max_backups: 30
  max_age: 7
  max_size: 1024
  compress: true
wechat:
  app_id: "wx83d33344c6e6b344"
  secret: "f3ba7f496143ecdb6195d5c8aeddc0c4"
  endpoint_code2session: "https://api.weixin.qq.com/sns/jscode2session"
  endpoint_access_token: "https://api.weixin.qq.com/cgi-bin/token"
  endpoint_phone: "https://api.weixin.qq.com/wxa/business/getuserphonenumber"
wxpay:
  app_id: "wx7657ed47b51812cc"
  mch_id: "1513645021"
  pay_key: "zhang131343567774953030040920xin"
  secret: "9603f1f453f716d5006dbc9445053010"
  notify_url: "https://www.test.canyinxinxi.com/bills/wxnotify"
  cert_path: "/root/main_server/apiclient_key.pem"
  serial_number: "59C25DA32E27760AEC1896AE734A3B735E3D306E"
  api_v3_key: "zhang131343567774953030040920xin"
oss:
  access_key_id: "YOUR_ACCESS_KEY_ID"
  access_key_secret: "YOUR_ACCESS_KEY_SECRET"
  endpoint: "https://oss-cn-beijing.aliyuncs.com"
  bucket: "canyinxinxi"
  url_prefix: "https://canyinxinxi.oss-cn-beijing.aliyuncs.com/img/"